{{#extend "layout" title="Sing App Dashboard - UI Popovers & Tooltips"}}
    {{#content "sidebar"}}
        {{> sidebar active="ui_popovers_tooltips"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">YOU ARE HERE</li>
            <li class="breadcrumb-item active">UI Popovers & Tooltips</li>
        </ol>
        <h1 class="page-title">Popovers & Tooltips</span></h1>
        <div class="row">
            <div class="col-sm-6">
                <section class="widget">
                    <header>
                        <h5>
                            Popover <span class="fw-semi-bold">Example</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="la la-angle-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="la la-angle-down"></i></a>
                            <a href="#" data-widgster="close"><i class="la la-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
                        <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
                            <button class="btn btn-danger" style="pointer-events: none;" type="button" disabled>Disabled button</button>
                        </span>
                    </div>
                </section>
                <section class="widget">
                    <header>
                        <h5>
                            Popover <span class="fw-semi-bold">Directions</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="la la-angle-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="la la-angle-down"></i></a>
                            <a href="#" data-widgster="close"><i class="la la-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <button type="button" class="btn btn-info mb-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                            Popover on top
                        </button>

                        <button type="button" class="btn btn-warning mb-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                            Popover on right
                        </button>

                        <button type="button" class="btn btn-dark mb-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                        sagittis lacus vel augue laoreet rutrum faucibus.">
                            Popover on bottom
                        </button>

                        <button type="button" class="btn btn-gray mb-sm" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                            Popover on left
                        </button>
                    </div>
                </section>
            </div>
             <div class="col-sm-6">
                <section class="widget">
                    <header>
                        <h5>
                            Tooltip <span class="fw-semi-bold">Example</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="la la-angle-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="la la-angle-down"></i></a>
                            <a href="#" data-widgster="close"><i class="la la-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <button type="button" class="btn btn-lg btn-success" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                            Tooltip
                        </button>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
                            <button class="btn btn-success" style="pointer-events: none;" type="button" disabled>Disabled button</button>
                        </span>
                    </div>
                </section>
                <section class="widget">
                    <header>
                        <h5>
                            Tooltip <span class="fw-semi-bold">Directions</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="la la-angle-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="la la-angle-down"></i></a>
                            <a href="#" data-widgster="close"><i class="la la-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <button type="button" class="btn btn-gray mb-sm" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                            Tooltip on top
                        </button>
                        <button type="button" class="btn btn-dark mb-sm" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                            Tooltip on right
                        </button>
                        <button type="button" class="btn btn-warning mb-sm" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                            Tooltip on bottom
                        </button>
                        <button type="button" class="btn btn-info mb-sm" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                            Tooltip on left
                        </button>
                    </div>
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script src="../js/components/ui-popovers-tooltips.js"></script>
    {{/content}}
{{/extend}}