{{#extend "layout" title="Sing App Dashboard - Easy Pie Charts"}}
    {{#content "sidebar"}}
        {{> sidebar active="charts_easy_pie"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">YOU ARE HERE</li>
            <li class="breadcrumb-item">Charts</li>
            <li class="breadcrumb-item active">Easy Pie</li>
        </ol>
        <h1 class="page-title">Visual - <span class="fw-semi-bold">Charts</span></h1>
        <div class="row">
            <div class="col-lg-4 col-xl-4">
                <section class="widget">
                    <header>
                        <h5>
                            Easy Pie Charts
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i
                                    class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="la la-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body clearfix">
                        <div class="text-center">
                            <div class="easy-pie-chart-md mb-lg" id="easy-pie1" data-percent="73">
                            </div>
                        </div>
                        <p class="fs-mini text-muted">
                            Easy pie chart is a jQuery plugin that uses the canvas element to render simple pie charts
                            for single values. These charts are highly customizable, very easy to implement, scale to
                            the resolution of the display of the client to provide sharp charts even on retina displays.
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-lg-4 col-xl-4">
                <section class="widget">
                    <header>
                        <h5>
                            Easy Pie Charts
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i
                                    class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="la la-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body clearfix">
                        <div class="text-center">
                            <div class="easy-pie-chart-lg mb-lg" id="easy-pie2" data-percent="22">
                                22
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="easy-pie-chart-lg mb-lg" id="easy-pie3" data-percent="88">
                                88
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4 col-xl-4">
                <section class="widget">
                    <header>
                        <h5>
                            Easy Pie Charts
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i
                                    class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="la la-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body clearfix">
                        <p class="fs-mini text-muted">
                            Ok, but <span class="fw-semi-bold">when to use pie chart?</span> Pie charts are mostly
                            used to show how much individual shares — such as quarterly sales figures — contribute to a total
                            amount, such as annual sales.
                        </p>
                        <div class="text-center">
                            <div class="easy-pie-chart-md mb-lg" id="easy-pie4" data-percent="43">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-3">
                                <span class="widget-icon">
                                    <i class="fi flaticon-like text-primary"></i>
                                </span>
                            </div>
                            <div class="col-9 text-muted">
                                    <h6 class="no-margin">TOTAL PROGRESS</h6>
                                <p class="h2 no-margin fw-normal">43,32%</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script src="../../bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

        <!-- page specific js -->
        <script src="../js/charts/easy-pie.js"></script>
    {{/content}}
{{/extend}}